body {font-family: Tahoma, Ariel, sans-serif;}

fieldset {
    width: 50%;
    font-size: 1.8em;
    background-color: azure;
}

input, #selectOption {font-size: 1em;}

label {margin-bottom: 1em;}

legend {padding: 0em;}

#submitBtn {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.3em;
    padding: 1em;
    background-color: seagreen;
    border: 4px solid black;
    cursor: pointer;
}
table, th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
}
table {width: 40%;}
tr, td, th {padding: 0.5em; }
td, th {font-size: 1.5em;}
.blk {background-color: black;}
